{% extends 'home.html' %}
{% load static %}
{% block content %}

      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Cart</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->

      <div class="container-fluid text-center table-responsive">

          <table class="table">
            <thead>
                <tr>
                  <th>Item</th>
                  <th>Item Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                  <th><img style="width:55px; height:55px" src="{{item.product.imageURL}}" alt=""></th>
                  <td>{{item.product.name}}</td>
                  <td>${{item.product.price|floatformat:2}}</td>
                  <td>
                    <div>{{item.quantity}}</div>
                    <div>
                        <img style="width:10px; height:10px" class="update-cart" data-product="{{item.product.id}}" data-action="remove" src="{% static 'images/a_up.png' %}" alt="">
                        <img style="width:10px; height:10px" class="update-cart" data-product="{{item.product.id}}" data-action="add" src="{% static 'images/a_dn.png' %}" alt="">
                    </div>
                  </td>
                  <td>${{item.get_total|floatformat:2}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>

          <table class="table table-borderless mt-4 mb-4">
              <tr>
                  <th><h3>Items: <strong>{{order.get_cart_items}}</strong></h3></th>
                  <th><h3>Total: <strong>${{order.get_cart_total|floatformat:2}}</strong></h3></th>
                  <th>
                      <a class="btn btn-secondary" href="{% url 'checkout' %}" role="button">Checkout</a>
                  </th>
              </tr>
          </table>
      </div>

{% endblock %}
