{% extends 'home.html' %}

{% block content %}

<!-- inner page section -->
<section class="inner_page_head">
 <div class="container_fuild">
    <div class="row">
       <div class="col-md-12">
          <div class="full">
             <h3>checkout</h3>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- end inner page section -->

<div class="container justify-content-center mt-3 mb-3">

      <div class="row">

        <div class="col text-center shadow p-5 m-2 bg-white rounded">
            <form id="form">
                <div class="row mb-2">
                    <div class="col">

                        <div id="user-info">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" name="name" placeholder="Name" required>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                                </div>
                            </div>
                        </div>

                        <div id="shipping-info">
                            <hr>
                                <p>Shipping Information</p>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control m-1" name="address" placeholder="Address" required>
                                    <input type="text" class="form-control m-1" name="state" placeholder="State" required>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control m-1" name="city" placeholder="City" required>
                                    <input type="text" class="form-control m-1" name="zipcode" placeholder="Zip code" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-block" id="form-button">Continue</button>
                </div>
            </form>

            <hr>

            <div class="row" id="payment-info" style="display:none;">
                <div class="col m-2">
                    <p>Payment Options</p>
                    <hr>
                    <button type="submit" class="btn btn-secondary" id="payment-button">pay now</button>
                </div>
            </div>
        </div>


        <div class="col shadow p-5 m-2 bg-white rounded">
            <a class="btn btn-outline-secondary" href="{% url 'cart' %}" role="button">Back to cart</a>
            <hr>
                <p>Order Summary</p>
            <hr>
            <p>Items: {{order.get_cart_items}}</p>
            <p>Total: ${{order.get_cart_total}}</p>
        </div>

      </div>

</div>

<script type="text/javascript">

    //if items do not require shipping, shipping info should not should
    var shipping = '{{order.shipping}}'

    //total value
    var total = '{{order.get_cart_total}}'

    //if the value of shipping is false, let form for shipping not be displayed
    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    //if user is authenticated, don't show user form
    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }

    //show payment option if no shipping and user is authenticated
    if (shipping == 'False' && user != 'AnonymousUser'){

        var form = document.getElementById('form');
        var paymentInfo = document.getElementById('payment-info');

        if(paymentInfo.style.display == "none"){

            paymentInfo.style.display = "block";
            form.style.display = "none";
        }
    }

    //based on shipping form submit button, show payment option
    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('form submitted.....')
        var formButton = document.getElementById('form-button');
        var paymentInfo = document.getElementById('payment-info');

        if(paymentInfo.style.display == "none"){

            paymentInfo.style.display = "block";
            formButton.style.display = "none";
        }

    })

    //check if payment button is clicked
    document.getElementById('payment-button').addEventListener('click', function(e){
        submitFormData()
    })

    //action to carry out once payment button is clicked
    function submitFormData(){
        console.log('payment button clicked......')

        //create a data structure for user name, email and total
        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }

        //create a data structure for shipping
        var shippingFormData = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }

        //append shipping information to shippingFormData for non-digital products
        if (shipping != 'False'){
            shippingFormData.address = form.address.value
            shippingFormData.city = form.city.value
            shippingFormData.state = form.state.value
            shippingFormData.zipcode = form.zipcode.value
        }

        //append user information to userFormData for Anonymous user
        if (user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        /*url to send the data of productId and action*/
        var url = '/process_order/'

        /*api to use to send data*/
        fetch(url, {
            method: 'POST',
            headers:{
                'Content-Type':'application/json',
                'Accept': 'application/json',
                'X-CSRFToken':csrftoken,
            },
            body: JSON.stringify({'form': userFormData, 'shipping': shippingFormData})
        })

        /*after the fetch is complete, return data*/
        .then((response) => {
            return response.json()
        })

        .then((data) => {
            console.log('Success:',data);
            alert('Transaction complete');

            /*once transaction is complete (sent to the backend) for anonymous user, clear cart and reset cookie*/
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

            window.location.href = "{% url 'product' %}"
        })
    }


</script>

{% endblock %}
