{% extends 'home.html' %}
{% load static %}
{% block content %}

      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Login</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">

            <div class="row text-center">
               <div class="col-lg-8 offset-lg-2">
                  <div class="full">
                     <form method="POST">

                        {% csrf_token %}

                        <fieldset>
                           <input type="text" placeholder="Enter username" name="name" required />
                           <input type="password" placeholder="Enter password" name="password" required />

                           <div class="row">
                              <div class="col">
                                 <button type="submit" class="btn btn-danger btn-lg btn-block">Login</button>
                              </div>
                              <div class="col">
                                 <a href="{% url 'sign_up_pg' %}" style="text-decoration:none; color:#FFFFFF;"><button type="button" class="btn btn-secondary btn-lg btn-block">Sign up</button></a>
                              </div>
                           </div>

                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>

         </div>
      </section>
      <!-- end why section -->

{% endblock %}
